/* put custom styles in this file */
/*.container {
	text-align: center;
}*/
body {
	background-color: #fff;
}



h1 {
	margin-right: 125px;
}

#icon {
	height: 40px;
	width: auto;
	display: inline;
	float: left;
	margin-left: 110px;
}
#song {
	width: 475px;
}

#search-type {
	margin-left: 19em;
}

#results {
	margin-top: 10px;
}
img {
	float: right;
	height: 200px;
	width: auto;
}
#results #left, #results #right {
	margin-top: 25px;
}
p {
	font-size: 16px;
}
#loadingGif {
	display: none;
	margin-right: 500px;
}


.btn-btn-success {
	margin-top: 2px;
	background-color: gold;

}

.search-bar {
	margin-left: 20em;
	padding-bottom: 25px;
}
