body {
  font: 16px/1.5 Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
}

form {
  background-color: black;
  color: #fff;
  padding: 9px 24px;
}

h1 {
  margin: 0;
}

#container {
  margin: 0 24px 12px 24px;
}

#message {
  font-size: 1.5em;
  margin-top: 12px;
}

#results {
  list-style-type: none;
  margin-top: 12px;
  margin-bottom: 0;
  padding: 0;
}

a {
  color: #c00;
}
